@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply h-full antialiased scroll-smooth m-0 bg-slate-50 text-gray-900;
}

*:focus {
  outline: none;
}

button:focus {
  outline: none;
}

[data-radix-popper-content-wrapper] {
  outline: none !important;
}
