@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply h-full antialiased scroll-smooth m-0 bg-slate-50 text-gray-900
  dark:bg-neutral-900 dark:text-gray-100 ocean:bg-blue-50 ocean:text-blue-900
  forest:text-green-300 forest:bg-neutral-900;
}

*:focus {
  outline: none;
}

button:focus {
  outline: none;
}

[data-radix-popper-content-wrapper] {
  outline: none !important;
}

.font-sans {
  font-family: 'Reddit Sans', sans-serif;
}

.font-serif {
  font-family: 'Source Serif 4', serif;
}

.font-mono {
  font-family: 'Reddit Mono', monospace;
}